
{% include head.html %}


{% include header.html %}


<main id="content">


  <header class="color-bg">
    
    <div class="container">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>

  </header>


  <div class="container">

    <section id="primary" class="content-area">
      <main id="main" class="site-main" role="main">


        {{ content }}


      </main><!-- #main -->
    </section><!-- #primary -->

  </div><!-- .container -->


</main>








{% include footer.html %}
