

body {

	font-family: "Oxygen";
	background-color: $color-white;
	color: $color-dark;
	font-size: $font-size-text;

	min-height: 100vh;
	min-width: 360px;

	display: flex;
	flex-direction: column;
}


#content {
	flex-grow: 2;
}





h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: $tightness 0;
	line-height: 1;
}
h2 {
	margin-top: $tightness * 2;
}


p {
	margin-bottom: $tightness;
	line-height: 200%;
}

a, a:visited {
	color: $color-main;
	font-weight: normal;
	line-height: 1;

}




blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: rgba($color-dark, .25);
	border: 0;
	height: $line-size;
	margin-bottom: $tightness;
}

label {
	display: block;
}


img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}




textarea {
	min-height: 200px;
}
textarea,
input {
	margin-bottom: $tightness;
}





// Buttons
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	border: none;
	border-radius: $border-radius;
	background: $color-main;
	color: $color-white;
	font-weight: bold;
	line-height: 1;
	padding: $tightness/2 $tightness;
	font-size: $font-size-text;

	&:hover,
	&:visited,
	&:active {
		border-color: $color-white;
		color: $color-white;
	}

}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color-dark;
	border: $line-size solid rgba($color-dark, .25);
	background-color: $color-white;
	border-radius: $border-radius;
	padding: $tightness/2;
	width: 100%;
	transition: 1s;
	font-weight: normal;

	&:focus {
		color: $color-dark;
		border-color: $color-main;
	}
}

