
.color-bg {
	background-color: $color-main;
	color: $color-white;
	position: relative;
}

.alt-bg {
	background-color: $color-alt;
}

.margin-top {
	margin-top: $tightness;
}

.margin-bottom {
	margin-bottom: $tightness*2;
}



@media (max-width: 991px) {
	.mobile-space-top {
		margin-top: $tightness;
	}
}
