

#site-nav {
	//z-index: 5;
	border-radius: 0;
	margin: 0;
	padding: 0;
	.container {
		z-index: 11;
		position: relative;
	}


	a {
		color: $color-white;
		text-decoration: none;
		padding: $tightness;
		display: block;
		font-size: $font-size-text;
		line-height: 20px;
	}
	a:hover {
		background-color: rgba(255,255,255, .1);
	}
	.current_page_item a {
		//background-color: rgba(0,0,0, .1);
	}

	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		display: block;
	}

	.navbar-toggle {
		font-size: 24px;
		color: $color-white;

	}

	.site-title {
		display: inline-block;
		margin: 0;
		a {
			font-size: 20px;
			background: none;
			padding-left: 14px;
			&:hover {
				text-decoration: underline;
			}
		}

	} 

} //#site-nav


.site-description {
	display: inline-block;
	margin: 0;
	color: rgba($color-alt, .75);
	font-size: $font-size-small;
}


//Make menu inline for non-mobile sizes
@media ($break-sm-up) {
	#site-nav {
		border: none;
		margin: 0px;

		li, a {
			display: inline-block;
		}
	}
}

